@import './_variable';

@font-face {
    font-family: openSans;
    src: url('/dist/local/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: openSans-bold;
    src: url('/dist/local/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: openSans-semibold;
    src: url('/dist/local/Open_Sans/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: openSans-light;
    src: url('/dist/local/Open_Sans/OpenSans-Light.ttf');
}

body {
    background-color: $color-dark;
    font-size: 14px;
    font-family: openSans, sans-serif;
}

.title {
    margin: 2rem 0;
    color: lighten(#333, 50%);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.inputText {
    input {
        background-color: lighten(#333, 5%);
        border-radius: 0;
        box-shadow: none;
        border: 0;
        color: lighten($color-dark, 50%);
        padding: 1.5rem 0.5rem !important;
        height: auto;

        &:focus {
            box-shadow: none;
            border-color: gold;
        }
    }
}

.list-vertical {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 35rem;
    overflow-y: scroll;
}

ul.list-group {
    margin: 0 0 2rem 0;
    li {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid lighten($color-dark, 10%);
        padding-left: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        box-shadow: none;
        color: lighten($color-dark, 50%);
        border-radius: 0 !important;
        transition: 0.3s ease all;
        font-size: $big-font;

        .icon-delete {
            display: none;
            i {
                &:first-child {
                    margin-right: 2rem;
                }
            }
        }

        &:hover {
            background-color: gold !important;
            color: $color-dark;
            padding-left: 1rem;
            font-weight: bold;

            .icon-delete {
                font-size: $large-font;
                font-weight: normal;
                display: block;
            }
        }
    }
}

.input-box {
    background-color: lighten($color-dark, 10%);
    height: 5rem;
    border: 0;
    outline: none !important;
    box-shadow: none !important;
    color: darken(#fff, 40%);
    font-size: 2.4rem;

    &::selection {
        background-color: lighten($color-dark, 30%);
    }
}

.divider {
    margin: 2.2rem 0;
    border-bottom: 2px dashed darken($color-dark, 4%);
}

.list-horizontal {
    list-style-type: none;
    margin-top: 2rem;
    margin: 0 0 2.2rem 0;
    padding: 0;
    max-height: 40rem;
    overflow: scroll;

    li {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        color: #555;
        padding: 1.2rem 2rem;
        background-color: darken($color-dark, 10%);
        border-bottom: 1px solid lighten($color-dark, 1%);
        margin-bottom: .8rem;
        border-radius: .4rem;

        .task-done {
            text-decoration: line-through;
        }

        &:hover {
            cursor: pointer;
            background-color: darken($color-dark, 12%);

            .option {
                display: flex;
                justify-content: flex-end;
                width: 5rem;

                .done,
                .delete {
                }
            }
        }

        .option {
            display: none;
        }
    }
}

.filtering {
    display: flex;
    justify-content: center;

    .box {
        color: lighten($color-dark, 50%);
        margin: 1.8rem .8rem;
        font-size: $large-font;
        // width: 10rem;
        // border: 1px solid lighten($color-dark, 50%);
        // border-radius: .4rem;
        text-align: center;
        padding: .8rem 0;
    }
}

.wrapper {
    padding: 1.2rem 1.8rem;
}

.todo-wrapper {
    margin: 2rem 0;
}
